.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
